body
{
}

.toggleLabel{
    visibility: hidden;
}

.form-control, select {
    border: 1px solid #000;
    border-radius: 0px;
    height: 50px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.form-control input{
    font-weight: bold;
    }

input.css-checkbox[type="checkbox"]:checked + label {
    background-position: 0px -15px;
}

.optOut label, .checkBoxInput label {
    background-image: url("../images/checkbox.png");
}


input[type="checkbox"]{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #cacece;
    bottom: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    display: inline-block;
    padding: 6px;
    position: relative;background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaBAMAAABWeiG6AAAAA3NCSVQICAjb4U/gAAAAD1BMVEXe3t7////m5ub39/fv7+9d3/qMAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzExLzEyymPybAAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAAJJJREFUGJVVkOsRwyAMgxXCAKFmAHpZoLlkgKTdf6cK23lYP4DvBLINShD68kX63biDep/4gmpxbMjr1jAaViTuFTCccPTDRzcwSEMqBsWWvYahZTBxNBwiRvd6a7inkOx1J69b0W/L2RV7notwKnN5zZR93uZ8GAp5FrWtf1n6SLRx/ZraN9JOTxR+3wPLVgJSfwffF4JRS32lAAAAAElFTkSuQmCC) no-repeat 5px;

}
input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}   

.search-box {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaBAMAAABWeiG6AAAAA3NCSVQICAjb4U/gAAAAD1BMVEXe3t7////m5ub39/fv7+9d3/qMAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzExLzEyymPybAAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAAJJJREFUGJVVkOsRwyAMgxXCAKFmAHpZoLlkgKTdf6cK23lYP4DvBLINShD68kX63biDep/4gmpxbMjr1jAaViTuFTCccPTDRzcwSEMqBsWWvYahZTBxNBwiRvd6a7inkOx1J69b0W/L2RV7notwKnN5zZR93uZ8GAp5FrWtf1n6SLRx/ZraN9JOTxR+3wPLVgJSfwffF4JRS32lAAAAAElFTkSuQmCC) no-repeat 5px;
    position: relative;
}

.glyphicon-search {
    font-size: 1em;
    position: absolute;
    right: 30px;
    top:20px;
}
input[type="checkbox"]:checked:after {
    color: #000;
    content: '\2714';
    font-size: 9px;
    font-weight: 900;
    left: 3px;
    position: absolute;
    top: 2px;
}

input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: black;
}

.error-label, .error-label a {
    color: red;
}

input[type="checkbox"] {
    background: rgba(255, 0, 0, 0.4);
    border: solid 1.5pt red;
}

.uppercase {
    text-transform: uppercase;
}

.error-label {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}

.wrapper-set {
    position: relative;
    height: 75px;
}
.plus-sign, .minus-sign {
    font-size: 2em;
    font-weight: 900;
    position: absolute;
    right: 30px;
}
.body-text {
    display: none;
}

