body
{
}

.toggleLabel{
    visibility: hidden;
}

.form-control {
    border: 1px solid #000;
    border-radius: 0px;
    height: 50px;
}

.form-control input{
    font-weight: bold;
    }

input.css-checkbox[type="checkbox"]:checked + label {
    background-position: 0px -15px;
}

.optOut label, .checkBoxInput label {
    background-image: url("../images/checkbox.png");
}


input[type="checkbox"]{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}
input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked:after {
    color: #000;
    content: '\2714';
    font-size: 9px;
    font-weight: 900;
    left: 3px;
    position: absolute;
    top: 2px;
}

input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: black;
}

.error-label {
    color: red;
}

.uppercase {
    text-transform: uppercase;


.error-label {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}



